!!!

%head
  %title SF Muni
  %link{href:"http://allfont.net/allfont.css?fonts=comic-sans-ms", rel:"stylesheet", type:"text/css"}
  :css
    #bus {
      font-size: 36px;
      height: 450px;
      background-image: url(//s3-us-west-1.amazonaws.com/potrerohillcam/bus.png);
      background-size: contain;
      background-repeat: no-repeat;
      position: relative;
      font-family: 'Comic Sans MS', monospace;;
    }

    .minutes,
    .seconds {
      position: absolute;
    }

    .early { font-size: 53px }

    .route-10.early.minutes { top: 55px; left: 200px; }
    .route-10.early.seconds { top: 55px; left: 304px; }
    .route-10.late.minutes { top: 245px; left: 230px; }
    .route-10.late.seconds { top: 245px; left: 325px; }

    .route-48.early.minutes { top: 61px; left: 480px; }
    .route-48.early.seconds { top: 61px; left: 589px; }
    .route-48.late.minutes { top: 245px; left: 476px; }
    .route-48.late.seconds { top: 245px; left: 558px; }

%body
  #bus
    %span.time
      %span.route-10.early.minutes= routes["10"].first.minutes
      %span.route-10.early.seconds= routes["10"].first.seconds.to_i % 60
    %span.time
      %span.route-10.late.minutes= routes["10"].last.minutes
      %span.route-10.late.seconds= routes["10"].last.seconds.to_i % 60
    %span.time
      %span.route-48.early.minutes= routes["48"].first.minutes
      %span.route-48.early.seconds= routes["48"].first.seconds.to_i % 60
    %span.time
      %span.route-48.late.minutes= routes["48"].last.minutes
      %span.route-48.late.seconds= routes["48"].last.seconds.to_i % 60

  %script{ src:"//code.jquery.com/jquery-3.2.1.slim.min.js", integrity:"sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=", crossorigin:"anonymous" }
  :javascript
    setTimeout(function() {
      document.location = document.location; // hard refresh every 30s
    }, 10000);

    setInterval(function() {
      $('.time').each(function(idx, el) {
        const $time = $(el);
        const $minutes = $time.find('.minutes');
        const $seconds = $time.find('.seconds');
        var minutes = parseInt($minutes.text());
        var seconds = parseInt($seconds.text());

        if (seconds === 0) {
          seconds = 59;
          minutes--;
        } else {
          seconds--;
        }

        $minutes.text(minutes);
        $seconds.text(seconds);
      });
    }, 1000);
