!!!

%head
  :css
    .route .time:first-child {
      font-weight: bold;
    }

%body
  - routes.each do |stop, predictions|
    %div.route
      %div #{stop}:
      %div
        - predictions.each do |prediction|
          %span.time
            = succeed 'm' do
              %span.minutes= prediction.minutes
            = succeed 's,' do
              %span.seconds= prediction.seconds.to_i % 60
  %script{ src:"http://code.jquery.com/jquery-3.2.1.slim.min.js", integrity:"sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=", crossorigin:"anonymous" }
  :javascript
    setTimeout(function() {
      document.location = document.location; // hard refresh every 30s
    }, 10000);

    setInterval(function() {
      $('.time').each(function(idx, el) {
        const $time = $(el);
        const $minutes = $time.find('.minutes');
        const $seconds = $time.find('.seconds');
        var minutes = parseInt($minutes.text());
        var seconds = parseInt($seconds.text());

        if (seconds === 0) {
          seconds = 59;
          minutes--;
        } else {
          seconds--;
        }

        $minutes.text(minutes);
        $seconds.text(seconds);
      });
    }, 1000);
